
{% extends 'base.html' %}
        
{% block personalbar %} 
<div id="SecBar_bg">
    <div id="SecBar">


        <div>
            {% if not user.is_authenticated %}
            <center>
                  به وبسایت  تخصصی  هواداران  بارسلونا  در  افغانستان  خوش آمدید  برای  استفاده از  تمامی مزیت  های سایت " <a href="/login/?next=/"> ورود شوید  </a> " و یا " <a href="/accounts/register">ثبت نام</a> "  کنید
            </center>
            {% endif %}

            {% if user.is_authenticated %}
            <center>
                - {{user.name}} - گرامی خوش آمدی ! - 
                <span>
                    <a href="/accounts/profile/{{user.id}}"> پنل کاربری </a> -
                </span>
                <span>
                    <a href="/logout/?next=/"> خروج </a> 
                </span>
            </center>
            {% endif %}
        </div>

        <br style="clear:both;" />


    </div>
</div>
{% endblock personalbar %}

    {% block content %}

    {% include 'partials/slider.html' %}

        <div id="wide_bar_bg2">
            <div id="wide_bar2">

                <div class="container d-flex">
                    <div class="col-9 m-1">
                        {% for item in post reversed%}
                         {% if not item.draft %}
                         
                        <div class="blockTitle"><a style="color: white;" href="{% url 'post_url' item.id %}">
                                {{ item.title }}</a></div>
                        <div class="blockContent">
                            <div class="d-flex">
                            <div class="postContent col-3" style="direction: rtl !important; margin-left: 5px;">
                                {% if item.thumbnail %} 
                                <img src="{{item.thumbnail.url}}" alt="">
                                {% else %} 
                                <img src="/static/images/news_bg_default.jpg" alt="">
                                {% endif %} 
                            </div>
                            <div class="d-flex postContent col-9" style="direction: rtl !important; padding-left: 5px; padding-right: 3px; ">
                                <img src="/static/images/AdvBG.gif" alt="" style=" margin-left: 7px;" >
                                
                                <p>{{ item.content }}</p>
                            </div>
                        </div>
                            <hr>
                            <div class="p-1" style="direction: ltr;" >
                                <a style="font-family:Arial, Helvetica, sans-serif; font-weight: bold; color: white;" href="{% url 'post_url' item.id%}" class="btn bg-primary white"
                                    style="padding: 3px; "> ادامه مطلب  </a>
                            </div>
                        </div>
                        {% endif %}
                        {% endfor %}
                    </div>
                    <div class="col-3 m-1">
                        <div class="blockTitle"> مطالب اخیر </div>

                        <div class="blockContent" style="direction: ltr;">
                            <ul>
                                {% for item in post reversed %}
                                <li><a href=" {% url 'post_url' item.id %}">{{item.title}}</a></li>
                                {% endfor %}
                            </ul>
                        </div>

                    </div>

                </div>
            </div>
        </div>

    {% endblock content %}
