
{% extends 'base.html' %}
        
    {% block content %}

        <div id="wide_bar_bg2">
            <div id="wide_bar2">

                <div class="container d-flex">
                    <div class="col-9 m-1">
                        {% for item in post reversed%}
                         {% if not item.draft %}
                        <div class="blockTitle"><a style="color: white;" href="{% url 'post_url' item.id %}">
                                {{ item.title }}</a></div>
                        <div class="blockContent">
                            <div class="postContent" style="direction: ltr !important;">
                                <p>{{ item.content }}</p>
                            </div>
                            <hr>
                            <div class="p-1">
                                <a href="{% url 'post_url' item.id%}" class="btn bg-primary white"
                                    style="padding: 3px; "> Read More </a>
                            </div>
                        </div>
                        {% endif %}
                        {% endfor %}
                    </div>
                    <div class="col-3 m-1">
                        <div class="blockTitle">Latest Posts</div>

                        <div class="blockContent" style="direction: ltr;">
                            <ul>
                                {% for item in post reversed %}
                                <li><a href=" {% url 'post_url' item.id %}">{{item.title}}</a></li>
                                {% endfor %}
                            </ul>
                        </div>

                    </div>

                </div>
            </div>
        </div>

    {% endblock content %}
