<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        div#container{
            background-color: rgba(42, 219, 145, 0.829);
            padding: 2em;
            font-size: 1.5em;
            margin: 3em;
        }
        body{
            background-color: cornflowerblue;

        }
    </style>
</head>
<body>
<div id="container">
    <center>
        <form method="POST" action="">
            {% csrf_token %}
            {{form1}}
            <button type="submit">Add Post</button>
        </form>
    </center>
</div>
</body>
</html>