{% extends 'base_dashboard.html' %}

{% block content %}
    <!-- sidebar -->
    <div id="sidebar-nav">
        <ul id="dashboard-menu">
            <li>
                <a href="/dashboard">
                    <i class="fa fa-laptop"></i>
                    <span>Dashboard</span>
                </a>
            </li>

            <li class="active">
                <div class="pointer">
                    <div class="arrow"></div>
                    <div class="arrow_border"></div>
                </div>
                
                <a href="/addpost">
                    <i class="fa fa-pencil-square-o"></i>
                    <span>Add Post</span>
                </a>
            </li>

            <li>
                <a href="/dashboard-slider">
                    <i class="fa fa-table"></i>
                    <span>Slider</span>
                </a>
            </li>



            <li>
                <a href="/comments">
                    <i class="fa fa-signal"></i>
                    <span>Comments</span>
                </a>
            </li>

            <li>
                <a href="/manage">
                    <i class="fa fa-signal"></i>
                    <span> Manage </span>
                </a>
            </li>
        </ul>
    </div>
    <!-- end sidebar -->


    <!-- main container -->
    <div class="content">
        <div id="pad-wrapper">
            <h4>Form</h4>


            <!-- Profile Form -->
            <div class="col-md-8">
                <div class="panel panel-default">
                    <div class="panel-heading"><strong>Profile Form</strong></div>
                    <div class="panel-body">

                        <form class="form-horizontal" method="POST" action="" enctype="multipart/form-data">
                            {% csrf_token %}
                            <div class="form-group">
                                <label class="col-lg-3 control-label">Post Title</label>
                                <div class="col-lg-8">
                                    <input type="text" name="title" maxlength="100" required id="id_title"
                                        placeholder="Title" value="{{ p_title }}" data-required="true"
                                        class="form-control">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-lg-3 control-label">Post Image: </label>
                                <div class="col-lg-8">
                                    <input type="file" name="image" accept="image/*" id="id_image" value="{{ p_img.url }}" required
                                        id="image" data-required="true" class="form-control">
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="col-lg-3 control-label">Post Content</label>
                                <div class="col-lg-8">
                                    <textarea name="content" cols="40" rows="10" maxlength="50000" required
                                        id="id_content" placeholder="Content" class="form-control" data-trigger="keyup"
                                        data-rangelength="[20,5000]">{{ p_content }}</textarea>

                                </div>
                            </div>
                            
                            <div class="form-group">
                                <div class="col-lg-9 pull-right">
                                    <!-- <button type="cancel" class="btn btn-default">Cancel</button> -->
                                    <button type="submit" class="btn bg-primary">Save changes</button>
                                    <a href="{% url 'dashboard' %}" class="btn btn-danger ">Cancel</a>

                                </div>
                            </div>

                            

                    </div>
                </div>
            </div>
            <!-- /Profile Form -->

            </div>

            <div class="col-md-4">
                <div class="panel panel-default post-wrap pro-box">
                    <div class="panel-heading"><strong> Manage </strong></div>

                    <div class="post-info">
                        <span class="arrow-pro right"></span>
                        <div class="panel-body">
                            <form action="" method="POST" name="form" >{% csrf_token %}

                                <div>
                                    
                                    <input type="checkbox" name="draft" id="draft" class="" value="True" >
                                <label for="draft" style="font-size: 1.2em;"> Save as draft </label>
                                <hr>
                                <input type="checkbox" name="priority" id="priority" class="" value="True" >
                                <label for="priority" style="font-size: 1.2em;"> Priorize (show always at top) </label>
                                <hr>
                                <input type="checkbox" name="temporary" id="temporary" class="" value="True" >
                                <label for="temporary" style="font-size: 1.2em;">Set as Temporary (will be deleted after 24 hrs) </label>
                                <hr>
                                <input type="datetime-local" name="datetime" id="datetime">
                                <label for="datetime" style="font-size: 1.2em;">Schedule </label>
                            </div>
                            <hr>
                        </div>
                    </form>


                        </div>

                    </div>

                </div>

            <div class="clearfix"></div>
            <footer id="footer">
                <div class="text-center clearfix">
                    <p><small>&copy Milestone Institute Alrights Reserved</small>
                        <br /><br />
                        <a href="#" class="btn btn-xs btn-circle btn-twitter"><i class="fa fa-twitter"></i></a>
                        <a href="#" class="btn btn-xs btn-circle btn-facebook"><i class="fa fa-facebook"></i></a>
                        <a href="#" class="btn btn-xs btn-circle btn-gplus"><i class="fa fa-google-plus"></i></a>
                    </p>
                </div>
            </footer>


        </div><!-- /pad-wrapper -->
    </div><!-- content -->
    <!-- /main container -->
{% endblock content %}