{% extends 'base_dashboard.html' %}


{% block content %}
<!-- sidebar -->

{% include 'partials/dashboard-navbar.html' with comments=True %}

<!-- end sidebar -->


<!-- main container -->
<div class="content">
    <div id="pad-wrapper">
        <h4>Comments</h4>

        <!-- ORDER TABLE -->
        <div class="col-md-6">
            <div class="panel panel-default">
                <div class="panel-heading"><strong>Comments</strong> <a href="#" class="pull-right"></a>
                </div>
                <div class="panel-body no-padding">

                    <div class="table-responsive">
                        <table class="table table-striped table-hover table-users">


                            <tbody>
                                {% for item in comments reversed %}
                                <tr>

                                    <td>
                                        <p><strong>{{item.post.title}}</strong></p>
                                    </td>

                                    <td class="purchased">{{item.content}}</td>
                                    <td><span class="label" style="background-color: {{item.show_comment_color}};">
                                            {{item.show_comment_label}} </span></td>
                                    <td class="text-right">
                                        <a style="display:{{item.show_comments}};" class="btn"
                                            href="{% url 'show_comment' item.id %}"><i
                                                class="fa fa-pencil-square-o"></i></a>
                                        <a href="#" class="confirm-delete btn" role="button" data-title="{{item.name}}"
                                            data-id="{{item.id}}">

                                            <i class="fa fa-trash-o"></i></a>
                                    </td>
                                </tr>
                                {% endfor %}
                            </tbody>

                        </table>
                    </div>


                </div>
            </div>
        </div>
        <!-- /ORDER TABLE -->


        <!-- PRODUCT -->
        <div class="col-md-6">
            <div class="panel panel-default post-wrap pro-box">
                <div class="panel-heading"><strong> Filter Comments </strong></div>

                <div class="post-info"
                    style="overflow:hidden; text-overflow:ellipsis;  display: -webkit-box; -webkit-line-clamp: 5; line-clamp: 5; -webkit-box-orient: vertical;">
                    <span class="arrow-pro right"></span>
                    <div class="panel-body">
                        <form class="form-horizontal" method="POST" action=""
                            style="padding: 1px !important; margin-top: 5px !important;">
                            {% csrf_token %}
                            <div class="form-group">
                                <label class="col-lg-2 control-label">Filter : </label>
                                <div class="col-lg-5">
                                    <input type="text" name="name" maxlength="20" required id="id_title"
                                        placeholder=" Enter the word to filter" value="" data-required="true"
                                        class="form-control">
                                </div>
                                <div class="col-lg-1">
                                    <!-- <button type="cancel" class="btn btn-default">Cancel</button> -->
                                    <button type="submit" class="btn btn-sm bg-primary">Add Filter</button>

                                </div>
                            </div>
                            <hr>
                            <div class="desk based" style="display: flex; flex-wrap: wrap;">
                                {% for items in filters %}
                                <span class="label"
                                    style="background-color: rgb(151, 146, 146); margin-right: 2px; font-size: 1em; margin-bottom: 4px;">
                                    {{items.name}}
                                    <a href="{% url 'delete_comment_filter' items.id %}"
                                        style="color: rgba(240, 37, 37, 0.959); margin-left: 3px;"> <strong>x</strong>
                                    </a>
                                </span>
                                {% endfor %}


                            </div>

                    </div>

                </div>
                <!-- </aside> -->

            </div>
        </div>


        <div class="clearfix"></div>
        <footer id="footer">
            <div class="text-center clearfix">
                <p><small>&copy Milestone Institute Alrights Reserved</small>
                    <br /><br />
                    <a href="#" class="btn btn-xs btn-circle btn-twitter"><i class="fa fa-twitter"></i></a>
                    <a href="#" class="btn btn-xs btn-circle btn-facebook"><i class="fa fa-facebook"></i></a>
                    <a href="#" class="btn btn-xs btn-circle btn-gplus"><i class="fa fa-google-plus"></i></a>
                </p>
            </div>
        </footer>


    </div><!-- /pad-wrapper -->
</div><!-- content -->
<!-- /main container -->
<!--post modal-->
<div id="myModal" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                <h4><strong>Delete Confirmation</strong></h4>
            </div>

            <div class="modal-body">
                <p> </p>
            </div>

            <div class="modal-footer">
                <button class="btn btn-default btn-sm" data-dismiss="modal" aria-hidden="true">Close</button>
                <button data-dismiss="modal" class="btn btn-danger btn-sm" id="btnYes"> Confirm</button>
            </div>
        </div>
    </div>
</div>

<!-- Notification -->
<div id="container">
    <div id="default">
        <h1>#{title}</h1>
        <p>#{text}</p>
    </div>
</div>

<!-- scripts -->


<!-- scripts -->
<script src="https://erwinagpasa.com/myxdashboard/js/jquery.min.js"></script>

<script>
    $('#myModal').on('show', function () {
        var tit = $('.confirm-delete').data('title');

        //$('#myModal .modal-body p').html("Are you sure you want to delete this record " + '<b>' + tit +'</b>' + ' ?');
        $('#myModal .modal-body p').html("Are you sure you want to delete this record?");
        var id = $(this).data('id'),
            removeBtn = $(this).find('.danger');
    })

    $('.confirm-delete').on('click', function (e) {
        e.preventDefault();

        var id = $(this).data('id');
        $('#myModal').data('id', id).modal('show');
    });

    $('#btnYes').click(function () {
        // handle deletion here
        var id = $('#myModal').data('id');
        // $('[data-id=' + id  + ']').parents('tr').remove();
        window.location = "{% url 'delete_comment' 12 %}".replace(/12/, id);
        $('#myModal').modal('hide');

    });
</script>
{% endblock content %}