{% extends 'base_dashboard.html' %}


{% block content %}
    <!-- sidebar -->
    <div id="sidebar-nav">

        <ul id="dashboard-menu">
            <li class="active">
                <div class="pointer">
                    <div class="arrow"></div>
                    <div class="arrow_border"></div>
                </div>
                <a href="/">
                    <i class="fa fa-laptop"></i>
                    <span>Dashboard</span>
                </a>
            </li>
            <li>
                <a href="/addpost">
                    <i class="fa fa-pencil-square-o"></i>
                    <span>Add Post</span> <span class="badge pull-right label-success"></span>
                </a>
            </li>

            <li>
                <a href="/dashboard-slider">
                    <i class="fa fa-table"></i>
                    <span>Slider</span>
                </a>
            </li>



            <li>
                <a href="/comments">
                    <i class="fa fa-signal"></i>
                    <span>Comments</span>
                </a>
            </li>

            
            <li>
                <a href="/manage">
                    <i class="fa fa-signal"></i>
                    <span> Manage </span>
                </a>
            </li>

        </ul>
    </div>
    <!-- end sidebar -->


    <!-- main container -->
    <div class="content">
        <div id="pad-wrapper">
            <h4>Dashboard</h4>



            <!-- STAT -->
            <div class="col-md-6">
                <div class="panel panel-default">
                    <div class="panel-heading"><strong>Statistics</strong></div>
                    <div class="panel-body no-padding">


                        <div class="col-md-12">
                            <div class="flot-container">
                                <div id="placeholder" class="flot-placeholder">
                                    <img src="/media/images/stat.png" style="width:100% ; height: 10em;" alt="">
                                </div>
                            </div>
                        </div>


                        <div class="stats">
                            <div class="statis">
                                <i class="fa fa-arrow-circle sign txt-color-orange"></i>
                                <span class="counter">{{ num_visits }}</span>
                                <p>Views</p>
                            </div> <!-- /statis -->

                            <div class="statis">
                                <i class="fa fa-arrow-circle sign txt-color-orange"></i>
                                <span class="counter">{{post_count}}</span><span class="sign txt-color-purple"></span>
                                <p>Posts</p>
                            </div> <!-- /statis -->

                            <div class="statis">
                                <i class="fa fa-arrow-circle sign txt-color-orange"></i>
                                <span class="counter">{{slides_count}}</span>
                                <p>Slides</p>
                            </div> <!-- /statis -->
                        </div>



                    </div>
                </div>
            </div>
            <!-- /STAT -->




            <!-- PRODUCT -->
            <div class="col-md-6">
                <div class="panel panel-default post-wrap pro-box">
                    <div class="panel-heading"><strong>Last Post</strong></div>

                    <div class="post-info"
                        style="overflow:hidden; text-overflow:ellipsis;  display: -webkit-box; -webkit-line-clamp: 5; line-clamp: 5; -webkit-box-orient: vertical;">
                        <span class="arrow-pro right"></span>
                        <div class="panel-body">
                            <div class="desk based">
                                <h3>{{item.title}}</h3>
                                <p>{{ item.content}}</p>
                            </div>

                        </div>

                    </div>
                    <div class="m-1 p-1" style="margin: 10px; display: flex; flex-direction: row-reverse;">
                        <a target="blank" class="btn-sm bg-primary" style="text-decoration: none; color: white;"
                            href="{% if item %}{% url 'post_url' item.id %}{% endif %}"> Go to post </a>
                    </div>
                    <!-- </aside> -->
                    <aside class="post-highlight based v-align">
                        <div class="panel-body text-center">
                            <div class="pro-thumb" style="height: 220px;">
                                <img style="height: 200px !important; width: 200px !important;" src="{{ item.image.url }}"
                                    alt="">
                            </div>
                        </div>

                </div>
            </div>
            <!-- /PRODUCT -->





            <!-- ORDER TABLE -->
            <div class="col-md-6">
                <div class="panel panel-default">
                    <div class="panel-heading"><strong>Posts</strong> <a href="#" class="pull-right"></a>
                    </div>
                    <div class="panel-body no-padding">

                        <div class="table-responsive">
                            <table class="table table-striped table-hover table-users">


                                <tbody>
                                    {% for item in post reversed %}
                                    <tr>
                                        <td>{{item.title}} {% if item.priority %} <span style="color: green;">*</span> {% endif %}</td>
                                        <td class="purchased"></td>
                                        <td class="purchased"></td>
                                        <td class="purchased"></td>
                                        <td class="purchased"></td>
                                        <td><span class="label" style="background-color: {% if item.draft %} red {% else %} green {% endif %};"> {% if item.draft %} Draft {% else %} Published {% endif %} </span></td>
                                        <td><span class="label label-primary"> Views: {{item.views}} </span></td>
                                        <td class="text-right">
                                            <a class="btn" href="{% url 'update_post' item.id %}"><i
                                                    class="fa fa-pencil-square-o"></i></a>
                                            <a href="#" class="confirm-delete btn" role="button"
                                                data-title="{{item.title}}" data-id="{{item.id}}">

                                                <i class="fa fa-trash-o"></i></a>
                                        </td>
                                    </tr>
                                    {% endfor %}
                                </tbody>

                            </table>
                        </div>


                    </div>
                </div>
            </div>
            <!-- /ORDER TABLE -->




            <div class="clearfix"></div>



            <div class="clearfix"></div>
            <footer id="footer">
                <div class="text-center clearfix">
                    <p><small>&copy Milestone Institute Alrights Reserved</small>
                        <br /><br />
                        <a href="#" class="btn btn-xs btn-circle btn-twitter"><i class="fa fa-twitter"></i></a>
                        <a href="#" class="btn btn-xs btn-circle btn-facebook"><i class="fa fa-facebook"></i></a>
                        <a href="#" class="btn btn-xs btn-circle btn-gplus"><i class="fa fa-google-plus"></i></a>
                    </p>
                </div>
            </footer>


        </div><!-- /pad-wrapper -->
    </div><!-- content -->
    <!-- /main container -->




    <!--post modal-->
    <div id="myModal" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                    <h4><strong>Delete Confirmation</strong></h4>
                </div>

                <div class="modal-body">
                    <p></p>
                </div>

                <div class="modal-footer">
                    <button class="btn btn-default btn-sm" data-dismiss="modal" aria-hidden="true">Close</button>
                    <button data-dismiss="modal" class="btn btn-danger btn-sm" id="btnYes"> Confirm</button>
                </div>
            </div>
        </div>
    </div>

    
        <!-- scripts -->
        <script src="https://erwinagpasa.com/myxdashboard/js/jquery.min.js"></script>
     <!-- scripts -->
     <script src="https://erwinagpasa.com/myxdashboard/js/jquery.min.js"></script>
     <script src="https://erwinagpasa.com/myxdashboard/js/bootstrap.js"></script>
     <script src="https://erwinagpasa.com/myxdashboard/js/theme.js"></script>
 
 
     <script src="https://erwinagpasa.com/myxdashboard/js/dashboard/jquery-jvectormap-1.2.2.min.js"></script>
     <script src="https://erwinagpasa.com/myxdashboard/js/dashboard/jquery-jvectormap-world-mill-en.js"></script>
     <script src="https://erwinagpasa.com/myxdashboard/js/dashboard/jquery.sparkline.min.js"></script>
 
     <script src="https://erwinagpasa.com/myxdashboard/js/dashboard/waypoints.min.js"></script>
     <script src="https://erwinagpasa.com/myxdashboard/js/dashboard/jquery.counterup.min.js"></script>
     <script src="https://erwinagpasa.com/myxdashboard/js/bootstrap-modal.js"></script>
 
     <script src="https://erwinagpasa.com/myxdashboard/js/flot/jquery.flot.js"></script>
     <script src="https://erwinagpasa.com/myxdashboard/js/flot/jquery.flot.resize.js"></script>
 
     <!-- Upload file drag and drop -->
     <script src="https://erwinagpasa.com/myxdashboard/js/filedrag/filedrag.js"></script>
     <script src="https://erwinagpasa.com/myxdashboard/js/bootstrap.file-input.js"></script>
 
     <!-- notification -->
     <script src="https://erwinagpasa.com/myxdashboard/js/notify/jquery-ui.js"></script>
     <script src="https://erwinagpasa.com/myxdashboard/js/notify/jquery.notify.js"></script>
     <script src="https://erwinagpasa.com/myxdashboard/js/jquery.slimscroll.js"></script>
     <!-- <script src="https://erwinagpasa.com/myxdashboardjs/bootstrap_calendar.js"></script> -->
 
 
     <script src="https://erwinagpasa.com/myxdashboard/js/pizza/snap.svg.js"></script>
     <script src="https://erwinagpasa.com/myxdashboard/js/pizza/pizza.js"></script>
     <script src="https://erwinagpasa.com/myxdashboard/js/index.js"></script>


    <script>
        $('#myModal').on('show', function () {
            var tit = $('.confirm-delete').data('title');

            //$('#myModal .modal-body p').html("Are you sure you want to delete this record " + '<b>' + tit +'</b>' + ' ?');
            $('#myModal .modal-body p').html("Are you sure you want to delete this record?");
            var id = $(this).data('id'),
                removeBtn = $(this).find('.danger');
        })

        $('.confirm-delete').on('click', function (e) {
            e.preventDefault();

            var id = $(this).data('id');
            $('#myModal').data('id', id).modal('show');
        });

        $('#btnYes').click(function () {
            // handle deletion here
            var id = $('#myModal').data('id');
            // $('[data-id=' + id  + ']').parents('tr').remove();
            window.location = "{% url 'delete_post' 12 %}".replace(/12/, id);
            $('#myModal').modal('hide');

        });
    </script>

{% endblock content %}